.about-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }
  
  .about-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .btn btn-dark {
    background-color: #555;
  }
  
  .about-hidden {
    display: none;
    font-size: 18px;
    line-height: 1.5;
  }
fieldset{
    color: #555;
    border-radius: 20px;
    box-shadow: #333;
    box-shadow: 10px 10px 5px 12px gray;
  }
  
